#dot1 {
  height: 9px;
  width: 12px;
  background-color: white;   
  animation-delay: 15s;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
    left: 682px;
    top: 393px;
}
#dot2 {
  height: 10px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
    left: 682px;
    top: 320px;
}
		
		body {
        color: mediumblue;
}
		h3{
			text-align: center;
		}
 #xabox {
  width: 150px;
  height: 60px;
  background: linear-gradient(darkred, brown);
            position: absolute;
            left: 613px;
            top: 167px;
}
        #xbbox {
  width: 105px;
  height: 40px;
  background: linear-gradient(brown, indianred);
            position: absolute;
            left: 635px;
            top: 222px;
}
#xcbox {
  width: 40px;
  height: 100px;
  background: linear-gradient(to left, #bbb 0%, #bbb 100%);
              position: absolute;
            left: 668px;
            top: 260px;
}
    #yabox {
  width: 150px;
  height: 60px;
  background: linear-gradient(brown, darkred);
            position: absolute;
            left: 613px;
            top: 476px;
}
        #ybbox {
  width: 105px;
  height: 40px;
  background: linear-gradient(indianred, brown);
            position: absolute;
            left: 635px;
            top: 438px;
}
        #ycbox {
  width: 40px;
  height: 100px;
  background: linear-gradient(to left, #bbb 0%, #bbb 100%);
              position: absolute;
            left: 668px;
            top: 340px;
}
     #start {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 415px;
  margin-right: 0px;
  background-color: black;
  color: white;
            position: absolute;
            left: 400px;
            top: 50px;
  }
		#stop {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 415px;
  margin-right: 0px;
  background-color: black;
  color: white;
            position: absolute;
            left: 400px;
            top: 100px;
  }
		#xdt {
	border-top: 40px solid #bbb;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 10px;
	width: 20px;
			position: absolute;
            left: 668px;
            top: 360px;
}
		#ydt {
	border-bottom: 40px solid #bbb;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 10px;
	width: 20px;
			position: absolute;
            left: 668px;
            top: 290px;
}