#con {
  position: absolute;
  width: 500px;
  left: 150px;
  top: 50px;
  height:50px;
}
#botbox{
  position:absolute;
  background-color: white ;
  width: 950px;
  height:50px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  top:650px;
  left:150px;
}
#bt1 {
  position: absolute;
  left:410px;
  top:5px;
  background-color: #f1f1f1;
  color: blue;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: right;
}
#bt2 {
  position: absolute;
  left:600px;
  top:5px;
  background-color: #f1f1f1;
  color: blue;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: right;
}
#bt3 {
  position: absolute;
  left:390px;
  top:5px;
  background-color: #f1f1f1;
  color: blue;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: right;
}
#im1 {
  position: absolute;
  width: 550px;
  height: 60px;
  left:280px;
  top:0px;  
}
#im2{
  position: absolute;
  width: 20px;
  height:20px;
  left:415px;
  top:34px;
}
#im3{
  position: absolute;
  width: 20px;
  height:20px;
  left:605px;
  top:34px;
}
#im4{
  position: absolute;
  width: 20px;
  height:20px;
  left:395px;
  top:34px;

}
#v1{
  position:absolute;
  height: 900px;
  width: 10px;
  left:100px;
  top:30px;
  background-color: #555;
}
#v2{
  position:absolute;
  height: 625px;
  width: 10px;
  left:730px;
  top:30px;
  background-color: #555;
}
#v3{
  position:absolute;
  height: 900px;
  width: 10px;
  left:1300px;
  top:30px;
  background-color: #555;
}
#l1{
  position:absolute;
  height: 10px;
  width: 1200px;
  left:100px;
  top:30px;
  background-color: #555;
}
#l2{
  position:absolute;
  height: 10px;
  width: 1200px;
  left:100px;
  top:645px;
  background-color: #555;
}
#l3{
  position:absolute;
  height: 10px;
  width: 1200px;
  left:100px;
  top:920px;
  background-color: #555;
}
#mp{
 position: absolute;
  left:300px;
  top:130px; 
  font-size: 45px;
}