#con {
  position: absolute;
  width: 500px;
  left: 450px;
  top: 50px;
  height:50px;
}
#botbox{
  position:absolute;
  background-color: white ;
  width: 950px;
  height:50px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  top:650px;
  left:450px;
}
#bt1 {
  position: absolute;
  left:10px;
  top:5px;
  background-color: #f1f1f1;
  color: blue;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: right;
}
#bt2 {
  position: absolute;
  left:200px;
  top:5px;
  background-color: #f1f1f1;
  color: blue;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: right;
}
#bt3 {
  position: absolute;
  left:390px;
  top:5px;
  background-color: #f1f1f1;
  color: blue;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: right;
}
#im1 {
  position: absolute;
  width: 550px;
  height: 60px;
  left:0px;
  top:0px;  
}
#im2{
  position: absolute;
  width: 20px;
  height:20px;
  left:15px;
  top:34px;
}
#im3{
  position: absolute;
  width: 20px;
  height:20px;
  left:205px;
  top:34px;
}
#im4{
  position: absolute;
  width: 20px;
  height:20px;
  left:395px;
  top:34px;

}
#v1{
  position:absolute;
  height: 900px;
  width: 10px;
  left:300px;
  top:30px;
  background-color: #555;
}
#v2{
  position:absolute;
  height: 625px;
  width: 10px;
  left:1030px;
  top:30px;
  background-color: #555;
}
#v3{
  position:absolute;
  height: 900px;
  width: 10px;
  left:1600px;
  top:30px;
  background-color: #555;
}
#l1{
  position:absolute;
  height: 10px;
  width: 1300px;
  left:300px;
  top:30px;
  background-color: #555;
}
#l2{
  position:absolute;
  height: 10px;
  width: 1300px;
  left:300px;
  top:645px;
  background-color: #555;
}
#l3{
  position:absolute;
  height: 10px;
  width: 1300px;
  left:300px;
  top:920px;
  background-color: #555;
}
#mp{
  position: absolute;
  left:650px;
  top:820px; 
  font-size: 33px;

}
#myCanvas{
  position: absolute;
  left:300px;
  top:100px;

}
#myCanvas2{
  position: absolute;
left:490px;
  top:500px;

}
#myCanvas3{
  position: absolute;
left:579px;
  top:320px;

}
#rod{
position:absolute;
  height: 320px;
  width: 3px;
  left:867px;
  top:150px;
  background-color: black;
}
#box{
position:absolute;
  height: 60px;
  width: 25px;
  left:633px;
  top:295px;
  background-color: black;

}
#circle{
  position:absolute;
  left:639px;
  top:304px;
  height: 10px;
  width: 10px;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
}
#line{
position:absolute;
  height: 85px;
  width: 3px;
  left:643px;
  top:320px;
  background-color: black;
}
#myCanvas4{
  position: absolute;
  top:300px;
  left:400px;
}
#thick{
  position: absolute;
  left:210px;
  top:50px;
  color:black;
  background-color: white;
}
#breadth{
  position: absolute;
  left:220px;
  top:100px;
  color:black;
  background-color: white;
}
#load{
  position: absolute;
  left:610px;
  top:50px;
  color:black;
  background-color: white;
}
#temp{
  position: absolute;
  left:800px;
  top:50px;
  color:black;
  background-color: white;
}
#stress{
  position: absolute;
  left:390px;
  top:50px;
  color:black;
  background-color: white;
}
#extension{
  position: absolute;
  left:610px;
  top:100px;
  color:black;
  background-color: white;
}
#time{
  position: absolute;
  left:55px;
  top:50px;
  color:black;
  background-color: white;
}
#pthick{
  position: absolute;
  left:290px;
  top:37px;
}
#pbreadth{
  position: absolute;
  left:290px;
  top:87px;
}
#pload{
  position: absolute;
  left:730px;
  top:37px;
}
#ptemp{
  position: absolute;
  left:900px;
  top:37px;
}
#pstress{
  position: absolute;
  left:500px;
  top:37px;
}
#pextension{
  position: absolute;
  left:690px;
  top:87px;
}
#ptime{
  position: absolute;
  left:105px;
  top:37px;
}
#chartContainer{
  position: absolute;
  height:500px;
  width:500px;
  left:1050px;
  top:125px;
}
#invis{
  position:absolute;
  height: 30px;
  width: 30px;
  left:20px;
  top:350px;
  background-color: white;
}
#wt{
  position:absolute;
  left:820px;
  top:450px;
}